# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [5]:
# import numpy and pandas
import numpy as np
import pandas as pd

In [3]:
#!pip install google-colab
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
pokemon = pd.read_csv('/content/drive/.../pokemon.csv')

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [ ]:
# Run this code:

#pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [5]:
# Your code here:

pokemon.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [10]:
# Your code here:
pokemon.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [12]:
# Your code here:
pokemon.groupby(['Legendary'])['Total'].agg(['mean', 'std'])

                 mean         std
Legendary
False      417.213605  106.760417
True       637.384615   60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [18]:
# Your code here:
# H0: legendary = non-legendary
# Ha: lengendary =/ non legendary

from scipy.stats import ttest_ind

# ttest_ind(a, b, axis=0, equal_var=True, nan_policy='propagate', permutations=None, random_state=None, alternative='two-sided', trim=0)[source]

In [20]:
a = pokemon.loc[pokemon['Legendary'] == True, 'Total']

b = pokemon.loc[pokemon['Legendary'] == False, 'Total']

ttest_ind(a, b, equal_var= False)    # equal_var = False because samples are different. It perform Welch’s t-test, which does not assume equal population variance

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [ ]:
# Your conclusions here:
# Because the p-value is less than 0.05 (9.357954335957446e-47), we can confirm there is a statistically difference between the total points for legendary and non-legendary Pokemon

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [22]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [10]:
# Your code here:

total_points = pokemon.groupby('Type 1')['Total'].agg(['mean', 'std'])
total_points

                mean         std
Type 1
Bug       378.927536  117.875223
Dark      445.741935  109.126217
Dragon    550.531250  146.267538
Electric  443.409091  105.721952
Fairy     413.176471  123.781680
Fighting  416.444444  102.464378
Fire      458.076923  109.760496
Flying    485.000000  161.400124
Ghost     439.562500  110.072685
Grass     421.142857  106.650626
Ground    437.500000  123.913081
Ice       433.458333  108.281027
Normal    401.683673  115.733038
Poison    399.142857   92.358687
Psychic   475.947368  139.026645
Rock      453.750000  108.059227
Steel     487.703704  115.420907
Water     430.455357  113.188266

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [29]:
# Your code here:

water = pokemon.loc[pokemon['Type 1'] == 'Water', 'Total']
non_water = pokemon.loc[pokemon['Type 1'] != 'Water', 'Total']

ttest_ind(water, non_water, equal_var= True, nan_policy= 'omit')

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [ ]:
# Your conclusions here:
# With a p-value of 0.66 we can conclude there is no statistically difference between the total points of the water pokemon and the non water ones.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [34]:
# Your code here:
from scipy.stats import ttest_rel

# H0: attack = defense
# Ha: attack =/ defense

attack = pokemon.Attack
defense = pokemon.Defense

ttest_rel(attack, defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [35]:
# Your conclusions here:
# With the data analyzed we can conclude there is a statistically difference between attack and defense scores.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [41]:
# Your code here:

sp_attack = pokemon['Sp. Atk']
sp_defense = pokemon['Sp. Def']

ttest_rel(sp_attack, sp_defense)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:
# With the data analyzed we can not affirm there is a statistically significant difference between the special attack and the special defense scores.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [1]:
# Your code here:
from scipy.stats import ttest_1samp
# ttest_1samp(a, popmean, axis=0, nan_policy='propagate', alternative='two-sided')[source]

# This is a two-sided test for the null hypothesis that the expected value (mean) 
# of a sample of independent observations a is equal to the given population mean, popmean.

In [7]:
ttest_1samp (pokemon['Defense'] - pokemon['Attack'], 0)

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [11]:
# Your code here:
# crosstab(index, columns, values=None, rownames=None, colnames=None, aggfunc=None, margins=False, margins_name='All', dropna=True, normalize=False)

data = pd.crosstab(index = pokemon.Legendary, columns= pokemon['Type 1'] == 'Water', colnames=['Water'])
data

Water      False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [12]:
# Your code here:
# chi2_contingency(observed, correction=True, lambda_=None)
from scipy.stats import chi2_contingency

In [15]:
chi2_contingency(data)

# Returns: 
# chi2 : 3.617455159932616
# p : 0.0571762700873503
# dof : 1
# expected frequencies: array([[632.1, 102.9], [ 55.9,   9.1]])

(2.9429200762850503, 0.08625467249550949, 1, array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here:
# No, we cannot. Given a p-val > 0.05 we can not reject the null hypothesis.